<!--
  Generated template for the CallRecording page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Call Recording</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="date.created_from" (ionChange)="changeDate()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="date.created_to" (ionChange)="changeDate()"></ion-datetime>
    </ion-item>

  </ion-list>

 <ion-list >

    <ion-item *ngFor = "let row of detail">
    
      <h2>{{ row.caller_id_number }}</h2>
      <p><ion-icon md="md-call"></ion-icon>
      <ion-icon md="md-arrow-round-back" *ngIf = "row.direction == 'inbound'"></ion-icon>
      <ion-icon md="md-arrow-round-forward" *ngIf = "row.direction == 'outbound'"></ion-icon>
      {{ row.direction }}</p>
      <button ion-button color="secondary" (click)="playAudio(row.recording_url)">Play</button>
      <ion-note item-right>{{ row.datetime }}</ion-note>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="noData">

    <ion-item >
      <h2>No Call Recordings</h2>
    </ion-item>

  </ion-list>

</ion-content>
